.nav{
  grid-row: 2/3;
  padding: 1em;
  background-color: green;
  border: 3px solid silver;
}
.nav div {
  padding: 10px;
}

.item a{
  text-decoration: none;
  color: white;
}

.item a.active{
  color: gold;
}
